[submodule "Oxylus/vendor/miniaudio"]
	path = Oxylus/vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "Oxylus/vendor/ImGuizmo"]
	path = Oxylus/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
