# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# zort
/.vs
/.vscode
/.idea
/cmake-build-debug
/cmake-build-dist
/cmake-build-release
/bin
/bin-int
/OxylusEditor/resources/shaders/compiled
*.ccls
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.DotSettings.user
build
*.sln
*.sln.DotSettings.user
.editorconfig
CMakeSettings.json
scripts/__pycache__
