[submodule "Oxylus/vendor/imgui"]
	path = Oxylus/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Oxylus/vendor/ktx"]
	path = Oxylus/vendor/ktx
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "Oxylus/vendor/tinygltf"]
	path = Oxylus/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Oxylus/vendor/miniaudio"]
	path = Oxylus/vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "Oxylus/vendor/glm"]
	path = Oxylus/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Oxylus/vendor/ImGuizmo"]
	path = Oxylus/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Oxylus/vendor/tracy"]
	path = Oxylus/vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Oxylus/vendor/nativefiledialog-extended"]
	path = Oxylus/vendor/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "Oxylus/vendor/ryml"]
	path = Oxylus/vendor/ryml
	url = https://github.com/biojppm/rapidyaml
[submodule "Oxylus/vendor/tiny_ktx"]
	path = Oxylus/vendor/tiny_ktx
	url = https://github.com/Hatrickek/tiny_ktx.git
[submodule "Oxylus/vendor/glfw"]
	path = Oxylus/vendor/glfw
	url = https://github.com/glfw/glfw
